@using BookStore.ViewModels
@model List<UserRoleViewModel>

@{
    var roleId = ViewData["roleId"];
    var roleName = ViewData["roleName"];
}

<form method="post">
    <div>
        <h2 class="mb-3">Edit users in role "@roleName"</h2>
        <div>
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check my-1">
                    <input type="hidden" asp-for="@Model[i].Id" />
                    <input type="hidden" asp-for="@Model[i].Name" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].Name
                    </label>
                </div>
            }
        </div>
        <div class="my-3">
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-warning">Cancel</a>
            <input type="submit" value="Update" class="btn btn-success" />
        </div>
    </div>
</form>